<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form action = "http://localhost:5000/api/upload" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <br><br>
         <input type = "submit"/>
         <input type = "reset"/>
      </form>  

    <form action = "http://localhost:5000/api/delete/file" method = "POST">
      <h4> Enter the name of the file to be deleted</h4>
      <input type = "text" name = "file_name" />
      <br><br>
      <input type = "delete"/>
    </form>  

</body>
</html>